{% assign posts=site.posts %}
{% assign init_page = 1 %}
{% assign per_page = site.paginate %}
{% assign total_posts = posts.size %}
{% assign total_pages = total_posts | times: 1.0 | divided_by: per_page | ceil %}

<style>
.page-content {
  display: none;
}

{% for page in (1..total_pages) %}
#page{{page}}:checked ~ .page{{page}} {
  display: block;
}
{% endfor %}

input[type="radio"] {
  display: none;
}
</style>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (window.location.hash) {
      handleHash(window.location.hash);
    }

    window.addEventListener("hashchange", function () {
      handleHash(window.location.hash);
    });

    function handleHash(hash) {
      const targetId = hash.replace("#", "");
      const radio = document.getElementById(targetId);
      if (radio) {
        radio.checked = true;
      }
    }
  });
</script>

{% for page in (1..total_pages) %}
<input type="radio" name="page" id="page{{page}}" {% if page == init_page %}checked{% endif %}>
{% endfor %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for page in (1..total_pages) %}
<div class="page-content page{{page}}">
  {% assign first_post_num = page | times: per_page | minus: per_page %}
  {% assign post_i = posts | slice: first_post_num, per_page %}
  <div class="entries-{{ entries_layout }}">
    {% include documents-collection.html entries=post_i type=entries_layout %}
  </div>

  {% if total_pages > 1 %}
    {% comment %} Pagination {% endcomment %}

    {% if page > 1 %}
      {% assign previous_page = page | minus: 1 %}
    {% else %}
      {% assign previous_page = nil %}
    {% endif %}

    {% if total_pages == page %}
      {% assign next_page = nil %}
    {% else %}
      {% assign next_page = page | plus: 1 %}
    {% endif %}
    
    <nav class="pagination">
      <ul>
        {% comment %} Link for previous page {% endcomment %}
        {% if previous_page %}
          {% if previous_page == 1 %}
            <li><a href="#page{{previous_page}}" aria-label="Go to page{{previous_page}}" onclick="document.getElementById('page{{previous_page}}').click();">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a></li>
          {% else %}
            <li><a href="#page{{previous_page}}" aria-label="Go to page{{previous_page}}" onclick="document.getElementById('page{{previous_page}}').click();">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a></li>
          {% endif %}
        {% else %}
        <li><a href="#" aria-label="disabled" onclick="return false;" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span></a></li>
        {% endif %}

        {% comment %} First page {% endcomment %}
        {% if page == 1 %}
          <li><a href="#" aria-label="disabled" onclick="return false;" class="disabled current">1</a></li>
        {% else %}
          <li><a href="#page{{1}}" aria-label="Go to page{{1}}" onclick="document.getElementById('page{{1}}').click();">1</a></li>
        {% endif %}

        {% assign page_start = 2 %}
        {% if page > 4 %}
          {% assign page_start = page | minus: 2 %}
          {% comment %} Ellipsis for truncated links {% endcomment %}
          <li><a href="#" aria-label="disabled" onclick="return false;" class="disabled">&hellip;</a></li>
        {% endif %}

        {% assign page_end = total_pages | minus: 1 %}
        {% assign pages_to_end = total_pages | minus: page %}
        {% if pages_to_end > 4 %}
          {% assign page_end = page | plus: 2 %}
        {% endif %}

        {% for index in (page_start..page_end) %}
          {% if index == page %}
            <li><a href="#page{{index}}" aria-label="Go to page{{index}}" onclick="document.getElementById('page{{index}}').click();" class="disabled current">{{ index }}</a></li>
          {% else %}
            {% comment %} Distance from current page and this link {% endcomment %}
            {% assign dist = page | minus: index %}
            {% if dist < 0 %}
              {% comment %} Distance must be a positive value {% endcomment %}
              {% assign dist = 0 | minus: dist %}
            {% endif %}
            <li><a href="#page{{index}}" aria-label="Go to page{{index}}" onclick="document.getElementById('page{{index}}').click();">{{ index }}</a></li>
          {% endif %}
        {% endfor %}

        {% comment %} Ellipsis for truncated links {% endcomment %}
        {% if pages_to_end > 3 %}
          <li><a href="#" aria-label="disabled" onclick="return false;" class="disabled">&hellip;</a></li>
        {% endif %}

        {% if page == total_pages %}
          <li><a href="#" aria-label="disabled" onclick="return false;" class="disabled current">{{ page }}</a></li>
        {% else %}
          <li><a href="#page{{total_pages}}" aria-label="Go to page{{total_pages}}" onclick="document.getElementById('page{{total_pages}}').click();">{{ total_pages }}</a></li>
        {% endif %}

        {% comment %} Link next page {% endcomment %}
        {% if next_page %}
          <li><a href="#page{{next_page}}" aria-label="Go to page{{next_page}}" onclick="document.getElementById('page{{next_page}}').click();">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a></li>
        {% else %}
          <li><a href="#" aria-label="disabled" onclick="return false;" class="disabled"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span></a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</div>

{% endfor %}
