<style>
    /* Hide the toggle checkbox */
    #expand-toggle {
    display: none;
    }

    /* Hide expandable content by default */
    .expandable {
    visibility: collapse;
    }

    /* Style the button */
    #expand-btn {
    display: inline-block;
    }

    /* Show hidden content when the checkbox is checked */
    #expand-toggle:checked ~ * .expandable {
    visibility: visible;
    }
</style>

<div style="margin-top: 900px;">
    <input type="checkbox" id="expand-toggle" />

    <strong>연재</strong>
    <table>
        <thead>
            <tr>
            <th>{{page.header.series}}</th>
            </tr>
        </thead>
        <tbody>
            
            {% assign posts = site.posts | where:"language", page.language %}
            {% assign series = "" | split:"," %}
            {% for post in posts %}
                {% if post.header.series == page.header.series %}
                    {% assign series = series | push: post %}
                {% endif %}
            {% endfor %}
            
            {% assign index = 0 %}
            {% for post in series reversed %}
                {% assign index = index | plus: 1 %}
                {% if post == page %}
                    {% assign now = index %}
                    {% break %}
                {% endif %}
            {% endfor %}
            
            {% assign index = 0 %}
            {% for post in series reversed %}
            {% assign index = index | plus: 1 %}
            {% if post == page %}
            <tr>
            {% else %}
            <tr class="expandable">
            {% endif %}
                <td>
                    <a href="{{post.url | relative_url}}">
                        <span>{{index}}</span>
                        <span>{{post.title}}</span>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <label for="expand-toggle" id="expand-btn">전체 목차 보기</label>
</div>