{% assign posts=site.posts | where:"language", page.language %}

{% assign last_idx = posts.size | minus: 1 %}
{% for idx in (0..posts.size) %}
  {% assign prev_idx = idx | plus: 1 %}
  {% assign next_idx = idx | minus: 1 %}
  {% if page.id == posts[idx].id %}
    {% if idx == 0 %}
      {% assign previous = posts[prev_idx] %}
      {% assign next = nil %}
    {% elsif idx == last_idx %}
      {% assign previous = nil %}
      {% assign next = posts[next_idx] %}
    {% else %}
      {% assign previous = posts[prev_idx] %}
      {% assign next = posts[next_idx] %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}

{% if previous or next %}
  <nav class="pagination">
    {% if previous %}
      <a href="{{ previous.url | relative_url }}" class="pagination--pager" title="{{ previous.title | markdownify | strip_html | strip}}">{{ site.data.ui-text[page.language].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[page.language].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    
    {% if next %}
      <a href="{{ next.url | relative_url }}" class="pagination--pager" title="{{ next.title | markdownify | strip_html | strip}}">{{ site.data.ui-text[page.language].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[page.language].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
